<%= form_with(model: @group) do |form| %>
  <div class="container" style= "padding: 0.5rem; max-width: 700px; margin: 0rem auto;">

      <div class='pb-2'>
        <h5 class='text-center display-6'>Add a new category </h5>
      </div>
    <div class="m-3">
      <%= form.text_field :name, autofocus: true, placeholder: "Name", class: "form-control", required: true %>
    </div>
    <div class="m-3">
      <%= form.file_field :image, placeholder: "Image", class: "form-control", required: true %>
    </div>

    <div class="d-grid gap-2" style= "padding: 1rem;">
      <%= form.submit "Save", class: "btn btn-success border-radius-none" %>
    </div>
  </div>
<% end %>