<div class="container-sm d-flex flex-column justify-content-center align-items-center vh-100">
  <div class="mb-4">
    <h1 class="title text-center display-6 text-muted">Budget Manager</h1>
    <p class="text-center display-12 text-muted">Manage your expenses with ease!</p>
  </div>
<br>
<br>
<br>
  <div class="d-grid gap-3 col-11 mx-auto">
    <%= link_to 'Log in', user_session_path, class: 'btn btn-info text-nowrap'%>
    <%= link_to 'Sign up', new_user_registration_path, class: 'btn btn-light text-nowrap'%>
  </div>
</div>